
*.aux
symulacja grafow przez Szeregi Formalne inspirowane Grohem - publication version.log
*.pdf
*.gz
mfcs/*
!mfcs/*.tex
!mfcs/*.bib
!mfcs/*cls
!mfcs/cc-by.pdf
!mfcs/lipics-logo.pdf

Nowy dokument tekstowy.log
Nowy dokument tekstowy.tex
talk Trends 2019 - wersja Bourdeaux 2020.tex
talk Trends 2019 - wersja Bourdeaux 2020.tex
